.card-basketball {
    font-family: 'Montserrat', sans-serif;
}

.info {
    padding-left: 10px;
    color: gray;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 100;
}

.info hgroup {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 300;
    
}

.date {
    color: orangered;
    
   
}

.title {
    color: rgb(66,67,69);
    
}

.location img {
    width: 15px;
    margin-right: 10px;
    vertical-align: middle;

}
