
.card2 {
font-family: Arial, Helvetica, sans-serif;
max-width: 500px;
}

.items{
   
    
    
} 
    
.statistics-item {
 list-style-image: url('images/2-statistics.svg') outside;
 margin-left:  100px;
 padding: 5px;
 }